@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');


/*----------------------
   Header section
   -----------------------  */
* {
  margin: 0;
  padding: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar .container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;

  

}

.navbar {

  height: 60px;
  background-color: #E8E8E8;
  position: relative;

}


.logo {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #2c97da;
}

.menu-icon {
  display: none;
  font-size: 30px;

}

ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;


}

ul li:not(:last-child) {
  margin-right: 60px;
}

ul a {
  font-size: 16px;
  font-weight: 400;
  color: #1B1A21;
  text-decoration: none;
}

ul a.active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
}

ul a.active::after {
  /* content: ''; */
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;

}

ul a:hover {
  color: #0b73f1;
  text-decoration: none;
}



@media (max-width:768px) {
  ul li:not(:last-child) {
    margin-right: 30px;
  }
}

@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;

  }

  .nav-element {

    position: absolute;
    right: 0;
    top: 60px;
    background-color: #99d6fb;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
    z-index: 2;
  }

  .nav-element.active {
    width: 270px;
  }

  .nav-element ul {
    display: flex;
    flex-direction: column;

  }

  .nav-element ul li {
    margin-right: unset;
    margin-top: 22px;
    text-align: center;
  }
}




/*------------------------
 Hero section 
 ------------------------- */

 .hero-section{
  background-color: #4076f4;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%236aa5ff' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2379bcff' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2387d0ff' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2396e0ff' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23A5EEFF' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%2388e2ff' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%236bd3ff' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%234fc0ff' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%2332abff' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%231592FF' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
 }
.hero-section h3 {
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-section p {
  font-size: 1.2rem;
  font-weight: 400;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hero-btn {

  padding: 10px;
  border: none;
  color: #fff;
  background-color: none;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  font-weight: 600;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.hero-btn:hover {  
 text-decoration: none;
}


/*----------------------------
   destination  section  
   ----------------------------*/

.destination-card-section{
background-color: #63caf3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg fill-opacity='0.37'%3E%3Cpolygon fill='%232eafee' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%2330a1dd' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%233192cc' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%233384bb' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%233476AA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
}

.card {
  margin-left: 80px;
}


/*-----------------------
 Trip section 
 ------------------------ */
 .trip-section{
  background-color: #4995EE;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%238BE8FF'/%3E%3Cstop offset='1' stop-color='%234995EE'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%236abff7'/%3E%3Cstop offset='1' stop-color='%234995EE'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
 }
.col {
  padding: 0;
}

.footer-container {
  background-color: #e9e9ea;
}

/*-----------------------
Components Section .
 -------------------------  */

 .CreateData {
  background-color: #1354CC;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%231354CC' width='11' height='11'/%3E%3Crect fill='%230057cf' x='10' width='11' height='11'/%3E%3Crect fill='%23005bd1' y='10' width='11' height='11'/%3E%3Crect fill='%23005ed4' x='20' width='11' height='11'/%3E%3Crect fill='%230061d6' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%230064d9' y='20' width='11' height='11'/%3E%3Crect fill='%230067db' x='30' width='11' height='11'/%3E%3Crect fill='%23006add' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23006ddf' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%230070e1' y='30' width='11' height='11'/%3E%3Crect fill='%230073e3' x='40' width='11' height='11'/%3E%3Crect fill='%230076e5' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%230079e6' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23007ce8' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23007fe9' y='40' width='11' height='11'/%3E%3Crect fill='%230082eb' x='50' width='11' height='11'/%3E%3Crect fill='%230085ec' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%230087ed' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23008aee' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23008def' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23008ff0' y='50' width='11' height='11'/%3E%3Crect fill='%230092f1' x='60' width='11' height='11'/%3E%3Crect fill='%230095f2' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%230097f3' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23009af3' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23009df4' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23009ff4' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2300a2f5' x='70' width='11' height='11'/%3E%3Crect fill='%2300a4f5' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2300a7f5' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2300a9f6' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2300acf6' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2300aef6' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2300b1f6' x='80' width='11' height='11'/%3E%3Crect fill='%2300b3f6' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2300b6f6' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2300b8f6' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2300bbf6' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2300bdf6' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2300c0f5' x='90' width='11' height='11'/%3E%3Crect fill='%2300c2f5' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2300c4f5' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2300c7f5' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2300c9f4' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2300cbf4' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%2300cef4' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2300d0f3' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2300d2f3' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2300d5f2' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2300d7f2' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%2300d9f1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2300dbf1' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2300def1' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2300e0f0' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2300e2f0' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2300e4ef' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2300e7ef' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%2300e9ef' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%2317ebee' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%232BEDEE' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-size: cover;
  min-height: 100vh;
  color: rgb(26, 16, 97);
}

.ShowDataDetails {
  background-color: #1354CC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%231354CC' width='11' height='11'/%3E%3Crect fill='%230057cf' x='10' width='11' height='11'/%3E%3Crect fill='%23005bd1' y='10' width='11' height='11'/%3E%3Crect fill='%23005ed4' x='20' width='11' height='11'/%3E%3Crect fill='%230061d6' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%230064d9' y='20' width='11' height='11'/%3E%3Crect fill='%230067db' x='30' width='11' height='11'/%3E%3Crect fill='%23006add' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23006ddf' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%230070e1' y='30' width='11' height='11'/%3E%3Crect fill='%230073e3' x='40' width='11' height='11'/%3E%3Crect fill='%230076e5' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%230079e6' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23007ce8' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23007fe9' y='40' width='11' height='11'/%3E%3Crect fill='%230082eb' x='50' width='11' height='11'/%3E%3Crect fill='%230085ec' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%230087ed' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23008aee' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23008def' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23008ff0' y='50' width='11' height='11'/%3E%3Crect fill='%230092f1' x='60' width='11' height='11'/%3E%3Crect fill='%230095f2' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%230097f3' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23009af3' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23009df4' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23009ff4' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2300a2f5' x='70' width='11' height='11'/%3E%3Crect fill='%2300a4f5' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2300a7f5' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2300a9f6' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2300acf6' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2300aef6' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2300b1f6' x='80' width='11' height='11'/%3E%3Crect fill='%2300b3f6' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2300b6f6' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2300b8f6' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2300bbf6' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2300bdf6' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2300c0f5' x='90' width='11' height='11'/%3E%3Crect fill='%2300c2f5' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2300c4f5' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2300c7f5' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2300c9f4' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2300cbf4' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%2300cef4' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2300d0f3' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2300d2f3' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2300d5f2' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2300d7f2' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%2300d9f1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2300dbf1' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2300def1' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2300e0f0' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2300e2f0' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2300e4ef' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2300e7ef' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%2300e9ef' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%2317ebee' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%232BEDEE' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  min-height: 100vh;
  color: beige;
}

.UpdateDataInfo {
  
  background-color: #1354CC;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%231354CC' width='11' height='11'/%3E%3Crect fill='%230057cf' x='10' width='11' height='11'/%3E%3Crect fill='%23005bd1' y='10' width='11' height='11'/%3E%3Crect fill='%23005ed4' x='20' width='11' height='11'/%3E%3Crect fill='%230061d6' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%230064d9' y='20' width='11' height='11'/%3E%3Crect fill='%230067db' x='30' width='11' height='11'/%3E%3Crect fill='%23006add' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23006ddf' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%230070e1' y='30' width='11' height='11'/%3E%3Crect fill='%230073e3' x='40' width='11' height='11'/%3E%3Crect fill='%230076e5' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%230079e6' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23007ce8' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23007fe9' y='40' width='11' height='11'/%3E%3Crect fill='%230082eb' x='50' width='11' height='11'/%3E%3Crect fill='%230085ec' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%230087ed' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23008aee' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23008def' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23008ff0' y='50' width='11' height='11'/%3E%3Crect fill='%230092f1' x='60' width='11' height='11'/%3E%3Crect fill='%230095f2' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%230097f3' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23009af3' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23009df4' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23009ff4' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2300a2f5' x='70' width='11' height='11'/%3E%3Crect fill='%2300a4f5' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2300a7f5' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2300a9f6' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2300acf6' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2300aef6' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2300b1f6' x='80' width='11' height='11'/%3E%3Crect fill='%2300b3f6' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2300b6f6' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2300b8f6' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2300bbf6' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2300bdf6' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2300c0f5' x='90' width='11' height='11'/%3E%3Crect fill='%2300c2f5' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2300c4f5' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2300c7f5' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2300c9f4' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2300cbf4' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%2300cef4' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2300d0f3' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2300d2f3' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2300d5f2' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2300d7f2' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%2300d9f1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2300dbf1' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2300def1' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2300e0f0' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2300e2f0' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2300e4ef' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2300e7ef' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%2300e9ef' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%2317ebee' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%232BEDEE' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
  min-height: 100vh;
  color: beige;
}

.ShowDataList {
  background-color: #1354CC;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%231354CC' width='11' height='11'/%3E%3Crect fill='%230057cf' x='10' width='11' height='11'/%3E%3Crect fill='%23005bd1' y='10' width='11' height='11'/%3E%3Crect fill='%23005ed4' x='20' width='11' height='11'/%3E%3Crect fill='%230061d6' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%230064d9' y='20' width='11' height='11'/%3E%3Crect fill='%230067db' x='30' width='11' height='11'/%3E%3Crect fill='%23006add' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23006ddf' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%230070e1' y='30' width='11' height='11'/%3E%3Crect fill='%230073e3' x='40' width='11' height='11'/%3E%3Crect fill='%230076e5' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%230079e6' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23007ce8' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23007fe9' y='40' width='11' height='11'/%3E%3Crect fill='%230082eb' x='50' width='11' height='11'/%3E%3Crect fill='%230085ec' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%230087ed' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23008aee' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23008def' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23008ff0' y='50' width='11' height='11'/%3E%3Crect fill='%230092f1' x='60' width='11' height='11'/%3E%3Crect fill='%230095f2' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%230097f3' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23009af3' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23009df4' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23009ff4' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%2300a2f5' x='70' width='11' height='11'/%3E%3Crect fill='%2300a4f5' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%2300a7f5' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%2300a9f6' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%2300acf6' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%2300aef6' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%2300b1f6' x='80' width='11' height='11'/%3E%3Crect fill='%2300b3f6' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%2300b6f6' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%2300b8f6' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%2300bbf6' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%2300bdf6' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%2300c0f5' x='90' width='11' height='11'/%3E%3Crect fill='%2300c2f5' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%2300c4f5' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2300c7f5' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2300c9f4' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2300cbf4' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%2300cef4' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%2300d0f3' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2300d2f3' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2300d5f2' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2300d7f2' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%2300d9f1' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%2300dbf1' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2300def1' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2300e0f0' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2300e2f0' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2300e4ef' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%2300e7ef' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%2300e9ef' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%2317ebee' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%232BEDEE' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100px;
  color: beige;
}


.list {
  display: grid;
  margin: 20px 0 50px 0;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 2em;
}


.card-container {
  width: 250px;
  border: 1px solid rgb(165, 165, 165);
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}


.desc {
  height: 130px;
  padding: 10px;
}

.desc h2 {
  font-size: 1em;
  font-weight: 400;
}


.desc h3, p {
  font-weight: 300;
}

.desc h3  {
  color: #6c757d;
  font-size: 1em;
  padding: 10px 0 10px 0;
}





